---
# We'll use defaults from the Google style, but with 4 columns indentation.
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 128
---
Language: Cpp
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: true 
SpaceAfterCStyleCast: true
---
Language: ObjC
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: false
SpaceAfterCStyleCast: true
---
Language: Java
AllowShortFunctionsOnASingleLine: Empty