#忽略所有文件和目录
*
*/**
build
build/**
!.gitignore
!CMakeLists.txt
!*.js
#增加指定扩展名文件
!*.cc
!*.cpp
!*.c
!*.h
!*.hpp
!*.pdf
!*/
!*.md
!*.jpg
!*.JPG
!*.java
#当前目录下需要提交的文件                                                                                                                                                  
!README.md
!.clang-format
!*.l
!*.y
!*.ts
!*.pas
#忽略build目录
**/build
